.projects {
  width: 100%;
  padding: 15px 0;
  display: block;
  &__subtitle{
    text-align: center;
    margin: 12px 0;
    font-family: var(--font-amatic);
    font-weight: bolder;
    font-size: clamp(14px, 22px,26px);
    padding: 0 12px;
  }
  &__title {
    position: relative;
    height: 32vh;
    img {
      position: absolute;
      object-fit: cover;
      height: auto;
      width: 300px;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    h2 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -58%);
      z-index: 5;
      font-size: 6.25rem;
      font-family: var(--font-bangers);
      color: #ff5722;
      text-shadow: 5px 5px 0 black, 5px 5px 0 black;
      -webkit-text-stroke: 1px black;
      letter-spacing: 2px;

      @media (max-width: 424px) {
        font-size: 4.75rem;
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    row-gap: 30px;

    .card {
      width: 300px;
      height: 325px;
      border: 1px solid black;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h5 {
        font-size: 2.2rem;
        text-align: center;
        font-family: var(--font-staatliches);
        letter-spacing: .7px;
        z-index: 5;
        background-color: white;
      }
      // img {
      //   width: 100%;
      //   height: 80%;
      // }
      &__image{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
        background-color: black;
        transition: 0.4s;
        &:hover{
          transform: scale(1.2) !important;
          cursor: pointer;
        }
        // background-position: center;
      }
      &__details {
        display: flex;
        justify-content: space-around;
        font-family: var(--font-comic);
        align-items: center;
        width: 100%;
        list-style-type: none;
        height: 10%;
        background-color: white;
        transition: all 0.3s ease-in-out;
        z-index: 5;
        padding: 12px 0;
        strong{
            font-family: var(--font-staatliches);
            font-size: .80rem;
        }
        span{
            font-size: 1.25rem;
        }
      }
    }
    @media (max-width: 374px) {
      width: 100%;
    }
  }
}
