.contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  row-gap: 20px;

  &__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;

    @media (max-width: 1024px) {
      // flex-direction: column;
      row-gap: 70px;
      padding: 60px 10px;
      height: 100%;
      width: 100%;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      // row-gap: 70px;
      // padding: 60px 10px;
      // height: 100%;
      // width: 100%;
    }
  }

  &__down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--icons {
      display: flex;
      column-gap: 25px;
      font-size: 2rem;
      margin-bottom: 25px;
      a {
        cursor: pointer;
        color: black;
        :hover {
          transition: all 0.3s ease-in-out;
          color: #277bc0;
          border: 3px solid black;
          border-radius: 50%;
        }
      }
    }
    .cv {
      cursor: pointer;
      font-family: var(--font-bungee);
      font-size: 1.2rem;

      &:hover {
        transform: scale(1.2) !important;
        transition: all 0.3s ease-in-out;
        text-decoration: underline;
      }
    }
  }
  //   column-gap: 50px;
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    row-gap: 15px;
    input,
    textarea,
    button {
      width: 350px;
      font-size: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 350px) {
        width: 320px;
      }
    }
    button{
      cursor: pointer;
    }
  }
  &__left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 500px;
    // height: 500px;
    // border: 1px solid black;

    &--content {
      position: relative;
      //   border: 1px solid blue;
      img {
        position: absolute;
        // object-fit: contain;
        height: auto;
        width: 500px;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 769px) {
          width: 380px;
        }
      }

      h3 {
        font-family: var(--font-bangers);
        transform: rotate(-14deg);
        font-size: 85px;
        z-index: 2;
        color: #f15412;
        -webkit-text-stroke: 0.1px black;
        text-shadow: 5px 6px 0 black;
        @media (max-width: 426px) {
          font-size: 72px;
        }
      }
      .saving {
        font-family: var(--font-staatliches);
        transform: rotate(-8deg) translateY(10px) translateX(20px);
        color: #277bc0;
        font-size: 35px;
        -webkit-text-stroke: 0.7px black;
        @media (max-width: 769px) {
          transform: rotate(-8deg) translateY(21px) translateX(20px);
        }
      }
      .help {
        font-family: var(--font-kaushan);
        font-size: 30px;
        margin-right: 0;
        margin-left: 60%;
        transform: translateY(-15px);
        color: #c70a80;
        -webkit-text-stroke: 1px black;
        @media (max-width: 769px) {
          transform: translateY(-28px) translateX(-24px);
        }
      }
    }
    @media (max-width: 424px) {
      width: 100%;
    }
  }
  @media (max-width: 1024px) {
    height: 100%;
    padding: 25px 0;
  }
}
