.testimonial {
  width: 100vw;
  text-align: center;
  padding: 20px 0;
  display: block;
  &__title {
    // text-shadow: 10px 10px 10px 10px black, 10px 10px 10px 10px black;
    -webkit-text-stroke: 0.1px black;
    color: red;
    font-family: var(--font-carter);

    font-size: 50px;
    line-height: 50px;
    width: 40%;
    margin: 0 auto;
    strong {
      font-family: var(--font-bangers);
      color: yellow;
      text-shadow: 5px 6px 0 black;
      font-size: 50px;
      font-style: italic;
      @media (max-width: 425px) {
        font-size: 40px;
      }
    }
    @media (max-width: 450px) {
      font-size: 40px;
    }
    @media (max-width: 1024px) {
      width: 60%;
    }
    @media (max-width: 768px) {
      width: 70%;
    }
    @media (max-width: 425px) {
      width: 80%;
    }
  }
  &__item {
    margin: 0 auto;
    width: 500px;
    height: auto;
    // border: 1px solid black;

    &--card {
      // text-align: center;
      // padding: 15px;
      display: flex !important;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    &--quote {
      border: 4px solid black;
      font-size: 22px;
      width: 300px;
      font-family: var(--font-amatic);
      font-weight: bolder;
      transform: translateY(15px);
      background-color: white;
      padding: 8px 12px;
    }
    &--img {
      width: 350px;
      height: 350px;
      border: 1px solid red;
      border: 4px solid black;
      object-fit: cover;
      border-radius: 50%;
      @media (max-width: 374px) {
        width: 300px;
        height: 300px;
      }
    }

    &--name {
      font-family: var(--font-bebas);
      margin-top: 15px;
      font-size: 1.4rem;
      text-decoration: none;
      color: black;
      transition: 0.4s;

      &:hover{
        letter-spacing: 1.3px;
        cursor: pointer;
      }
    }
    &--super {
      color: #50b8e7;
      -webkit-text-stroke: 2px black;
      font-family: var(--font-bangers);
      font-size: 3rem;
    }
    &--company {
      font-family: var(--font-comic);
    }
    @media (max-width: 500px) {
      width: 100%;
    }
  }
}
