@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Audiowide&family=Bangers&family=Bebas+Neue&family=Bungee&family=Comic+Neue&family=Staatliches&display=swap');
*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}