@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Audiowide&family=Bangers&family=Bungee&family=Source+Code+Pro&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}